/*
this is the main stylesheet for all pages. Includes the formatting for the nav bar
If you want something to be on all pages, then put it here.

thanks to http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu for the dropdown menu code.

*/

/* formatting for the entire page */

html {
	font-family: arial, sans-serif;
	font-size: 100%;
	color: rgb(10 10 10 / 100%);
	background-color: rgb(253 253 253 / 100%)
}

/* formatting for main nav bar */

/* navbar unordered lists */

#topnavbar ul {
	background: white;
	background: linear-gradient(to top, rgb(0 82 204 / 100%), rgb(0 34 204 / 100%));
	box-shadow: 0 0 9px rgb(0 0 0 / 15%);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table
}

#topnavbar ul::after {
	content: "";
	clear: both;
	display: block
}

/* navbar unordered lists inside unordered lists */
#topnavbar ul ul {
	display: none;
	background: rgb(95 105 117 / 100%);
	border-radius: 0;
	padding: 0;
	position: absolute;
	top: 100%
}

/* navbar unordered list inside unordered list inside unordered list */
#topnavbar ul ul ul {
	position: absolute;
	left: 100%;
	top: 0
}

/* navbar list items */
#topnavbar li {
	float: left
}

#topnavbar ul li:hover > ul {
	display: block
}

#topnavbar ul li {
	float: left
}

#topnavbar ul ul li {
	float: none;
	border-top: 1px solid rgb(107 114 124 / 100%);
	border-bottom: 1px solid rgb(87 95 106 / 100%);
	position: relative
}

#topnavbar ul li:hover {
	background: rgb(75 84 95 / 0%);
	background: linear-gradient(to top, rgb(79 89 100 / 100%), rgb(95 105 117 / 100%))
}

#topnavbar ul li a {
	display: block;
	width: 120px;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 10px;
	color: rgb(178 0 0 / 100%);
	text-decoration: none
}

#topnavbar ul ul li a {
	padding: 15px 40px;
	color: white
}

#topnavbar ul li:hover a {
	color: white
}

#topnavbar ul ul li a:hover {
	background: rgb(75 84 95 / 100%)
}

