/*
this is the main stylesheet for all pages. Includes the formatting for the nav bar
If you want something to be on all pages, then put it here.

thanks to http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu for the dropdown menu code.

  */

/* formatting for main nav bar */

#topnavbar ul {
	background: white;
	background: linear-gradient(to top, rgba(0 82 204 0%), rgba(0 34 204 0%));
	box-shadow: 0 0 9px rgba(0 0 0 15%);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}

#topnavbar ul ul {
	display: none;
	background: rgba(95 105 117 0%);
	border-radius: 0;
	padding: 0;
	position: absolute;
	top: 100%;
}

#topnavbar li {
	float: left;
}

#topnavbar ul li:hover > ul {
	display: block
}

#topnavbar ul::after {
	content: "";
	clear: both;
	display: block;
}

#topnavbar ul li {
	float: left;
}

#topnavbar ul li:hover {
	background: rgba(75 84 95 0%);
	background: linear-gradient(to top, rgba(79 89 100 0%), rgba(95 105 117 0%));
}

#topnavbar ul li a {
	display: block;
	width: 120px;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 10px;
	color: rgba(178 0 0 0%);
	text-decoration: none;
}

#topnavbar ul ul li {
	float: none;
	border-top: 1px solid rgba(107 114 124 0%);
	border-bottom: 1px solid rgba(87 95 106 0%);
	position: relative;
}

#topnavbar ul li:hover a {
	color: #white;
}

#topnavbar ul ul li a {
	padding: 15px 40px;
	color: white;
}

#topnavbar ul ul li a:hover {
	background: rgba(75 84 95 0%);
}

#topnavbar ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
